{% extends 'base.html.twig' %}

{% block title %}Browse Deals{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1 class="mb-3">Modify a Deal</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Share with others</button>
        {{ form_end(form) }}
    </div>

{% endblock %}